RewriteEngine On

# Redirect URLs ending with .php to remove .php
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)\.php$ /$1 [L,R=301]

# Serve PHP files without .php in the URL
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
